/* Estilos de las redes sociales */
.contacto {
  display: flex;
  text-align: left;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  padding: 80px 60px;
}

.fondo {
  background-color: #f6f7fb;
}
.contact-column {
  width: 50%;
}
.contact-column:first-of-type {
  padding-right: 20px;
}
.contact-column:last-of-type {
  padding-left: 20px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 30px;
}
.descripcion-contacto {
  max-width: 600px;
}
.contacto-redes-sociales {
  margin-top: 40px;
  transition: 0.2s;
}
.contacto-social-item {
  display: flex;
  margin: 5px 0;
}
.link-contacto {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 100px;
}
.contacto-icon {
  padding: 10px;
  background-color: white;
  color: #8338ec;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 10px;
  text-align: center;
  transition: 0.2s;
}
/* cambia el color del texto del ancla al pasar por encima con el mouse */
.link-contacto:hover {
  color: #8338ec;
}

/* cambia el color del fondo del icono al pasar por encima con el mouse */
.link-contacto:hover .contacto-icon {
  background-color: #8338ec;
  color: white;
}

/* Estilos del formulario */

.name-wraper {
  /* Div contenedor */
  display: flex;
}
.control-formulario {
  margin: 15px 10px;
  flex-grow: 1; /* t.ly/aTnO*/
  position: relative;
}
label {
  margin: 10px 0px;
  display: block;
  font-weight: 600;
}
input,
textarea {
  display: block;
  border: 0;
  background-color: #f6f7fb;
  border-radius: 20px;
  border: 1px solid #f6f7fb;
  padding: 10px 15px;
  width: 100%;
  outline: none;
}

input:focus,
textarea:focus,
button:focus,
a:focus {
  box-shadow: 0px 0px 7px #8338ec;
  outline: 0;
}
button {
  background-color: #8338ec;
  padding: 15px 40px;
  border-radius: 100px;
  border: 0;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
input:valid:focus,
textarea:valid:focus {
  box-shadow: 0px 0px 5px green;
}
input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
  box-shadow: 0px 0px 5px red;
}
.icon-invalid,
.icon-valid {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: translateY(50%);
}
.icon-invalid {
  color: red;
}
.icon-valid {
  color: green;
}

input:valid ~ .icon-valid,
textarea:valid ~ .icon-valid,
input:not(:placeholder-shown):invalid ~ .icon-invalid,
textarea:not(:placeholder-shown):invalid ~ .icon-invalid {
  display: block;
}
