.contacto {
  display: flex;
  text-align: left;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  padding: 80px 60px;
}
.contact-column {
  width: 50%;
}
.section-title {
  margin-top: 0;
  margin-bottom: 30px;
}
.descripcion-contacto {
  max-width: 600px;
}
.contacto-redes-sociales {
  margin-top: 40px;
  transition: 0.2s;
}
.contacto-social-item {
  display: flex;
  margin: 5px 0;
}
.link-contacto {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 100px;
}
.contacto-icon {
  width: 2.2rem;
  height: 2.2rem;
  background-color: white;
  color: #8338ec;
  border-radius: 50%;
  line-height: 2.2rem;
  font-size: 1.2rem;
  margin-right: 10px;
  text-align: center;
  transition: 0.2s;
}
