footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 60px;
  background-color: #8338ec;
  color: white;
}
.ul-menu {
  display: flex;
  margin: 0;
}
.footer-item {
  margin: 0 10px;
}
.footer-item-link {
  font-size: 14px;
  color: white;
}
.footer-redes-sociales {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.footer-social-link {
  border-radius: 50%;
  width: 2.7rem;
  margin: 10px;
}
.footer-social-icon {
  display: block;
  width: 2.7rem;
  height: 2.7rem;
  background-color: white;
  color: #8338ec;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 2.7rem;
  text-align: center;
  transition: 0.1s;
}
