.cita {
  background-color: #8338ec;
}
.IconoCita {
  font-size: 5rem;
  margin-bottom: 20px;
  color: white;
}
.texto {
  font-size: 2.2rem;
  max-width: 800px;
  color: white;
}
.autor {
  font-size: 1.69em;
  color: white;
  margin-bottom: 0;
}
