.skills {
  background-color: #f6f7fb;
}
.skills-perfil {
  max-width: 400px;
}

.grilla-herramientas {
  justify-content: center;
}
.card {
  width: 260px;
  background-color: #ffffff;
  border: 1px solid #afacac;
  border-radius: 8px;
  margin: 10px;
  padding: 30px;
}
.card:hover {
  border: 1px solid #995cef;
  color: #673ab7;
}
