.skills {
  background-color: #f6f7fb;
}
.skills-perfil {
  max-width: 600px;
}

.grilla-herramientas {
  justify-content: center;
}
.card {
  width: 260px;
  background-color: #ffffff;
  border: 1px solid #afacac;
  border-radius: 8px;
  margin: 10px;
  padding: 30px;
}
.card:hover {
  border: 1px solid #995cef;
  color: #673ab7;
}
.skillIcon {
  font-size: 4.71em;
  margin-top: 24px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.skillName {
  font-size: 1.25em;
  font-weight: 700;
}
.htmlIcon {
  color: #e54d26;
}
.CssIcon {
  color: #3d8fc6;
}
.SassIcon {
  color: #c69;
}
.JsIcon {
  color: #f0db4f;
}
.ReactIcon {
  color: #61dafb;
}
.GitIcon{
  color: #e54d26;
}

@media screen and (max-width: 576px) {
  .skillIcon{
    font-size: 2.71em;
  }
  .card{
    width: calc(50% - 20px);
    padding: 20px 10px;
    margin: 0.5em;
  }
  .skills-perfil{
    max-width: 80%;
  }
}
